//  ----------------------------------------
//  Some properties
//  ----------------------------------------

$pluginPrefix: 'tmc_gdpr_shell';
$maxWidth: 900px;

//  ----------------------------------------
//  Additional
//  ----------------------------------------

body.noScroll {

    overflow: hidden;
    height: 100%;

}

//  ----------------------------------------
//  Base popup
//  ----------------------------------------

.#{$pluginPrefix}_cookie_popup {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 500ms all;
    z-index: 999999;
    background: #fff;
    border-top: 1px solid #2c3e50;

    &.isHidden {

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

}

.#{$pluginPrefix}_cookie_inside {

    width: 100%;
    max-width: $maxWidth;
    margin: auto;
    background: #fff;
    padding: 0.5em;
    display: flex;

}

.#{$pluginPrefix}_cookie_text {

    background: #fff;
    padding-right: 2em;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #000;

}

.#{$pluginPrefix}_cookie_btns {

    white-space: nowrap;

    button {

        display: inline-block;
        border-radius: 0.3em;
        padding: 0.5em 1em;
        margin-left: 0.3em;
        border: none;
        font-size: 1em;

        &.primary {
            background: #2980b9;
            color: #ecf0f1;
        }

        &.secondary {
            background: #dcdde1;
            color: #2f3640;
        }

    }

}

//  ----------------------------------------
//  Settings popup
//  ----------------------------------------

.#{$pluginPrefix}_settings_popup {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    max-height: 100%;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 500ms all;
    z-index: 999999;
    overflow: auto;
    background: rgba( 0, 0, 0, 0.8 );

    &.isHidden {

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

}

.#{$pluginPrefix}_settings_inside {

    width: 100%;
    max-width: $maxWidth;
    margin: auto;
    background: #fff;
    padding: 1.5em;
    border-radius: 0.5em;

}

.#{$pluginPrefix}_settings_close {

    width: 100%;
    max-width: $maxWidth;
    margin: auto;
    padding: 0.3em;
    text-align: right;

    span {

        cursor: pointer;
        display: inline-block;
        width: 2em;
        height: 2em;
        position: relative;

        &:before,
        &:after {

            display: block;
            position: absolute;
            content: '';
            width: 2em;
            height: 0.2em;
            left: 0;
            top: 50%;
            background: #fff;

        }

        &:before {

            transform: rotate( 45deg );

        }

        &:after {

            transform: rotate( -45deg );

        }

    }

}

.#{$pluginPrefix}_settings_form {

}

.#{$pluginPrefix}_settings_list {

    padding: 0.5em;
    color: #000;
    overflow-y: auto;
    border-bottom: 1px solid silver;

}

.#{$pluginPrefix}_settings_list_row {

    margin-bottom: 2em;

    h1 {

        font-size: 2em;
        font-weight: bold;
        padding: 0;
        margin: 0 0 0.5em;

    }

    desc {

    }

}

.#{$pluginPrefix}_settings_checkbox {

    $size: 1.5;


    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0 0 1em 1em;
    float: right;

    > input {

        display: none;

    }

    > div {

        display: block;
        width: $size * 3em;
        height: $size * 1.5em;
        border-radius: $size * 1.5em;
        background: #bdc3c7;
        transition: all 500ms;

    }

    > i {

        position: absolute;
        display: block;
        width: $size * 1.3em;
        height: $size * 1.3em;
        border-radius: 50%;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate( - $size * 1.3em, -50% );
        transition: all 500ms;

    }

    > input:checked ~ div {

        background: #2ecc71;

    }

    > input:disabled ~ {

        opacity: 0.5;

    }

    > input:checked ~ i {

        transform: translate( 0, -50% );

    }

}

.#{$pluginPrefix}_settings_btns {

    white-space: nowrap;
    margin-top: 1em;

    button {

        display: inline-block;
        border-radius: 0.3em;
        padding: 0.5em 1em;
        margin-left: 0.3em;
        border: none;
        font-size: 1.3em;

        &.primary {
            background: #2980b9;
            color: #ecf0f1;
        }

        &.secondary {
            background: #dcdde1;
            color: #2f3640;
        }

    }

}